.backToTop {
  bottom: 25px;
  right: 25px;
  position: fixed;
  font-size: 130px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  background: #E80070;
  box-shadow: rgba(192, 61, 161, 0.811) 0px 0px 4px 2px, rgba(255, 0, 187, 0.735) 2px 2px 5px 0px
}

.backToTop:hover {
  background: #E80070;
  color: #000;
  box-shadow: rgba(192, 61, 161, 0.811) 0px 0px 4px 2px, rgba(255, 0, 187, 0.735) 2px 2px 5px 0px
}